/* @ 重置&默认(reset&base)(tags) 
-------------------------------------*/
*{
    box-sizing: border-box;
}
*[hidefocus],input,textarea,a{outline:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
fieldset,img,html,body,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
caption,th{font-weight:normal;font-style:normal;text-align:left;}
em,strong{font-weight:bold;font-style:normal;}
body,textarea,select,input,pre,button{font-family:"微软雅黑",arial,microsoft yahei,helvetica,sans-serif;font-size:.36rem;color:#fff;}
body{background:#fff;line-height:1.5em;-webkit-text-size-adjust:none;}
a,button{cursor:pointer;}
textarea{resize:none;overflow:auto;}
pre{white-space:pre-wrap;}
a{color: inherit;text-decoration:none;}
button{border:0;outline: none}


/* @ 功能样式
-------------------------------------*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}

.imgcenter {
    background-size: cover;
    background-position: center center;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.width-50{
	width: 50%;
}

.mt-10{
	margin-top: 10px;
}

.mt-20{
	margin-top: 20px;
}

/* @ 动画
-------------------------------------*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}